****************************<br>
FIND PATIENT
<%= form_for(:search, url: search_path, remote: true) do |form| %>
  Patient Name or ID:
  <%= form.text_field :query, placeholder: 'Patient Name or ID' %>
  <%= form.submit "Find" %>
<% end %>
****************************
<div id = 'patient-results'></div>
