/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 2, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/extends/_button.scss */
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
}
/* line 131, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: linear-gradient(#3c71bb, #255aa5);
}
/* line 148, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
input[type="submit"]:focus:not(:disabled) {
  border: 1px solid #2459a6;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397;
}
/* line 51, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

/* line 9, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 16, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 20, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 24, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 28, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 32, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 36, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 40, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 44, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 49, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 59, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 67, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 72, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 77, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em;
}

/* line 82, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em;
}

/* line 86, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
del {
  color: #595959;
}

/* line 90, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 97, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 101, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 10, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 19, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 25, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 29, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label.required:after {
  content: "*";
}
/* line 33, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label abbr {
  display: none;
}

/* line 40, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 57, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 64, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 72, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 77, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="file"] {
  width: 100%;
}

/* line 81, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 88, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
/* line 23, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl dd {
  margin: 0;
}

/* line 20, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation {
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 41, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .menu-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
header.navigation .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
header.navigation .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 48, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  left: 50%;
}
/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .logo img {
  max-height: 60px;
  left: 100px;
}
/* line 59, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 59, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 75, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .navigation-menu-button:hover {
  color: white;
}
/* line 80, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .nav {
  z-index: 9999999;
  float: none;
}
@media screen and (min-width: 53.75em) {
  /* line 80, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .nav {
    float: left;
  }
}
/* line 88, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation ul#navigation-menu {
  clear: both;
  -webkit-transform-style: preserve-3d;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 88, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation ul#navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 105, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation ul li {
  background: #333333;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: .8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 105, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation ul li {
    background: transparent;
    display: inline;
    line-height: 60px;
    padding-right: 2em;
    text-decoration: none;
    width: auto;
  }
}
/* line 124, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation ul li a {
  font-weight: 400;
  color: black;
}
/* line 128, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation ul li a:hover {
  color: white;
}
/* line 134, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .active-nav-item a {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 139, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation li.more {
  padding-right: 0;
}
/* line 142, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation li.more:hover .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 139, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation li.more {
    position: relative;
    padding-right: .8em;
  }
}
/* line 152, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation li.more a {
  padding-right: .8em;
}
/* line 156, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .submenu {
  display: none;
}
@media screen and (min-width: 53.75em) {
  /* line 156, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .submenu {
    position: absolute;
    top: 1em;
    left: -1em;
  }
}
/* line 165, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 165, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .submenu li {
    line-height: 46.15385px;
  }
  /* line 172, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .submenu li:first-child a {
    padding-top: 1em;
  }
  /* line 175, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .submenu li:last-child a {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
    padding-bottom: .7em;
  }
}
/* line 182, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .submenu li a {
  text-align: right;
  background-color: #2b2b2b;
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 53.75em) {
  /* line 182, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .submenu li a {
    width: 12em;
    background-color: #333333;
    text-align: left;
    padding-left: 1em;
  }
}
/* line 198, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .navigation-tools {
  display: block;
  padding-right: 1em;
  padding-left: 1em;
  clear: both;
  background: #505050;
}
/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
header.navigation .navigation-tools:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75em) {
  /* line 198, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .navigation-tools {
    background: transparent;
    float: right;
    clear: none;
  }
}
/* line 213, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation a.sign-up {
  margin-top: 13px;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline;
  background: #477dca;
  border-radius: 0.1875em;
  color: white;
  font-size: .8em;
  font-weight: 800;
  padding: .4em 1em;
  text-transform: uppercase;
}
/* line 226, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation a.sign-up:hover {
  background: #6f99d5;
}
/* line 231, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .search-bar {
  padding: 13px 5px;
  float: left;
}
/* line 238, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .search-bar .search-and-submit {
  position: relative;
}
/* line 241, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .search-bar .search-and-submit input[type=search] {
  background: #404040;
  border: 1px solid #262626;
  padding: .6em .8em;
  font-size: .9em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.375em;
  margin: 0;
}
/* line 252, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .search-bar .search-and-submit button[type=submit] {
  border: 1px solid #363636;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 gray;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #595959;
  background-image: -webkit-linear-gradient(#595959, #3d3d3d);
  background-image: linear-gradient(#595959, #3d3d3d);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2b2b2b;
  background-clip: padding-box;
  border: 1px solid #3a3131;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 gray;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #595959;
  background-image: -webkit-linear-gradient(#595959, #433838);
  background-image: linear-gradient(#595959, #433838);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #322525;
  background-clip: padding-box;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  bottom: 0.3em;
  outline: none;
  padding: 5px 15px;
}
/* line 131, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #666666;
  cursor: pointer;
  background-color: #4d4d4d;
  background-image: -webkit-linear-gradient(#4d4d4d, #363636);
  background-image: linear-gradient(#4d4d4d, #363636);
}
/* line 148, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #363636;
  box-shadow: inset 0 0 8px 4px #2e2e2e, inset 0 0 8px 4px #2e2e2e;
}
/* line 131, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #666666;
  cursor: pointer;
  background-color: #4d4d4d;
  background-image: -webkit-linear-gradient(#4d4d4d, #3a3131);
  background-image: linear-gradient(#4d4d4d, #3a3131);
}
/* line 148, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #3a3131;
  box-shadow: inset 0 0 8px 4px #312b2b, inset 0 0 8px 4px #312b2b;
}
/* line 51, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 258, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
header.navigation .search-bar .search-and-submit button[type=submit] img {
  height: 10px;
  opacity: .7;
}
@media screen and (min-width: 53.75em) {
  /* line 231, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .search-bar {
    width: 16em;
    position: relative;
    display: inline-block;
  }
  /* line 270, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
  header.navigation .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

/* line 279, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
body {
  background-color: #F8F8F8;
}

/* line 284, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#qr-code img {
  height: 200px;
  width: 200px;
}

/* line 289, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#user-welcome {
  font-size: 12px;
}
