/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 2, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/extends/_button.scss */
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
}
/* line 131, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: linear-gradient(#3c71bb, #255aa5);
}
/* line 148, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
input[type="submit"]:focus:not(:disabled) {
  border: 1px solid #2459a6;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397;
}
/* line 51, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

/* line 9, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 16, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 20, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 24, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 28, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 32, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 36, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 40, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 44, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 49, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 59, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 67, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 72, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 77, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em;
}

/* line 82, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em;
}

/* line 86, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
del {
  color: #595959;
}

/* line 90, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 97, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 101, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 10, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 19, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 25, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 29, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label.required:after {
  content: "*";
}
/* line 33, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
label abbr {
  display: none;
}

/* line 40, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 40%;
}
/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 57, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 64, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 72, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 77, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
input[type="file"] {
  width: 100%;
}

/* line 81, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 88, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
/* line 23, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bitters/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
.homes-index {
  background-image: url(/assets/Healthcare-v2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 10, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
#welcome-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-color: rgba(100, 100, 100, 0.5);
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
#welcome-wrapper:last-child {
  margin-right: 0;
}

/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
#welcome-tag {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  z-index: 4;
  position: relative;
  top: 15px;
  font-size: 30px;
  left: 15%;
  padding-right: 3px;
}

/* line 27, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
#welcome-message {
  color: white;
  font-family: 'Raleway', sans-serif;
  z-index: 4;
  position: relative;
  text-align: left;
  top: 10px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

/* line 39, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
#login-button {
  position: relative;
  z-index: 5;
  left: 25%;
  top: 6px;
}

/* line 46, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/homes.css.scss */
#sign-up-button {
  position: relative;
  z-index: 5;
  left: 45%;
  top: -40px;
  padding: 5px;
}

/* line 2, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/physicians.css.scss */
.physician-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
.physician-wrapper:last-child {
  margin-right: 0;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container {
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  margin-bottom: 1.5em;
  overflow: hidden;
}
/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
.vertical-tabs-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 17, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tabs {
  display: none;
}
@media screen and (min-width: 40em) {
  /* line 17, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tabs {
    background-color: white;
    display: inline;
    float: left;
    height: 28.125em;
    width: 20%;
  }
}
@media screen and (min-width: 40em) {
  /* line 29, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tab {
    border-bottom: 1px solid #dddddd;
    display: block;
    font-weight: bold;
    margin-right: -1px;
    padding: 0.75em 0.809em;
  }
  /* line 37, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tab.is-active {
    background-color: #f7f7f7;
    margin-right: -1px;
  }
}
/* line 44, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab:focus {
  outline: none;
}
/* line 48, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-content-container {
  display: block;
  margin: 0 auto;
}
/* line 52, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-content-container a:focus {
  outline: none;
}
@media screen and (min-width: 40em) {
  /* line 48, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tab-content-container {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 80%;
    height: 28.125em;
    background-color: #f7f7f7;
  }
}
/* line 63, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-content {
  background-color: #f7f7f7;
  padding: 1.5em 1.618em;
}
@media screen and (min-width: 40em) {
  /* line 63, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tab-content {
    border: none;
    display: none;
  }
}
/* line 73, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-accordion-heading {
  background-color: white;
  border-top: 1px solid #dddddd;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0.75em 0.809em;
}
/* line 81, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-accordion-heading:hover {
  color: #477dca;
}
/* line 85, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-accordion-heading:first-child {
  border-top: none;
}
/* line 89, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
.vertical-tabs-container .vertical-tab-accordion-heading.is-active {
  background: #f7f7f7;
  border-bottom: none;
}
@media screen and (min-width: 40em) {
  /* line 73, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/refills/_vertical-tabs.scss */
  .vertical-tabs-container .vertical-tab-accordion-heading {
    display: none;
  }
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/sessions.css.scss */
.sign-in-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
.sign-in-wrapper:last-child {
  margin-right: 0;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/sessions.css.scss */
#sign-in-form {
  margin-left: 8.5298%;
}

/* line 12, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/sessions.css.scss */
#sign-in-separator {
  margin-left: 42.64902%;
  border-right-style: solid;
  border-width: 1px;
  width: 2px;
  height: 275px;
  position: relative;
  bottom: 230px;
}

/* line 22, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/sessions.css.scss */
#sign-up-pitch {
  margin-left: 51.17883%;
  position: relative;
  bottom: -150px;
}

/* line 28, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/sessions.css.scss */
#sign-up-button-2 {
  margin-left: 25.58941%;
  position: relative;
  bottom: -50px;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/patient_finder.css.scss */
#patient-finder-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
#patient-finder-wrapper:last-child {
  margin-right: 0;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/patient_finder.css.scss */
#patient-finder {
  margin-left: 8.5298%;
  bottom: 180px;
  padding-top: 100px;
}

/* line 14, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/patient_finder.css.scss */
#patient-separator {
  margin-left: 34.11922%;
  border-right-style: solid;
  border-width: 1px;
  width: 2px;
  height: 275px;
  position: absolute;
  bottom: 180px;
}

/* line 24, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/patient_finder.css.scss */
#patient-results {
  margin-left: 51.17883%;
  position: relative;
  bottom: 150px;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#about-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
#about-wrapper:last-child {
  margin-right: 0;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#about-info {
  margin-left: 8.5298%;
  position: relative;
  text-align: center;
  padding-right: 80px;
  font-size: 15px;
  top: 50px;
}

/* line 17, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#metis-logo {
  height: 100px;
  width: 100px;
  margin-left: 34.11922%;
  top: 30px;
  position: relative;
}

/* line 25, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#thoughtbot-logo {
  height: 125px;
  width: 125px;
  margin-left: 51.17883%;
  top: -80px;
  position: relative;
}

/* line 33, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#contact-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
#contact-wrapper:last-child {
  margin-right: 0;
}

/* line 40, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#github-me {
  margin-left: 46.91392%;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  top: -50px;
  position: relative;
}

/* line 49, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#website-me {
  margin-left: 34.11922%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: 50px;
}

/* line 58, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#blog-me {
  margin-left: 59.70863%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: -110px;
}

/* line 67, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#linkedin-me {
  margin-left: 34.11922%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: -110px;
}

/* line 77, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#twitter-me {
  margin-left: 46.91392%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: -210px;
}

/* line 88, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#email-me {
  margin-left: 59.70863%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: -310px;
}

/* line 97, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#name-me {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 40px;
  text-align: center;
  top: 80px;
  position: relative;
}

/* line 106, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/pages.css.scss */
#social-wrapper {
  top: 100px;
  position: relative;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/users.css.scss */
.users-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
.users-wrapper:last-child {
  margin-right: 0;
}

/* line 8, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/users.css.scss */
#sign-up-form {
  margin-left: 8.5298%;
  top: -330px;
  position: relative;
}

/* line 14, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/users.css.scss */
#sign-up-separator {
  margin-left: 51.17883%;
  border-right-style: solid;
  border-width: 1px;
  width: 2px;
  height: 275px;
  position: relative;
  bottom: -100px;
}

/* line 24, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/users.css.scss */
#sign-in-pitch {
  margin-left: 59.70863%;
  position: relative;
  bottom: 130px;
  font-size: 20px;
}

/* line 31, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/users.css.scss */
#login-users {
  margin-left: 25.58941%;
  top: 60px;
  position: relative;
  z-index: 10;
}

/* line 1, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/scripts.css.scss */
#script-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #f8f8f8;
  height: 28.125em;
  overflow: scroll;
  padding: 50px;
}
/* line 38, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/neat/grid/_span-columns.scss */
#script-container:last-child {
  margin-right: 0;
}

/* line 29, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
body {
  background-color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 35, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#qr-code img {
  height: 200px;
  width: 200px;
}

/* line 44, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#logo {
  width: 110px;
  height: 80px;
  position: relative;
  z-index: 2;
  left: 8%;
  top: -5px;
}

/* line 53, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#about {
  margin-left: 72.50334%;
  position: relative;
  top: 1px;
  width: 20px;
}

/* line 60, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#health-news {
  margin-left: 79.32718%;
  position: relative;
  top: -47px;
  width: 20px;
}

/* line 67, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#contact {
  margin-left: 85.29804%;
  position: relative;
  top: -23px;
  width: 20px;
}

/* line 74, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#goto_dash {
  margin-left: 60.56161%;
  position: relative;
  top: 75px;
  width: 20px;
  z-index: 10;
  font-size: 17px;
}

/* line 84, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
.nav-wrapper {
  z-index: 1;
  width: 90%;
  height: 30px;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 20px;
  left: 5%;
  z-index: 1;
  top: -30px;
  box-shadow: 3px 3px 3px 3px #888888;
}

/* line 97, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#user-welcome {
  text-align: right;
  font-size: 14px;
}

/* line 102, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#sign-out-button {
  right: 320px;
  position: relative;
  border: 1px solid #d2d2d2;
  border-color: #d2d2d2 #c2c2c2 #b6b6b6;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(#f8f8f8, #dfdfdf);
  background-image: linear-gradient(#f8f8f8, #dfdfdf);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px white;
  background-clip: padding-box;
  border: 1px solid #d2d2d2;
  border-color: #d2d2d2 #c2c2c2 #b6b6b6;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(#f8f8f8, #e3dbda);
  background-image: linear-gradient(#f8f8f8, #e3dbda);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px white;
  background-clip: padding-box;
  height: 25px;
  width: 80px;
  font-size: 12px;
  color: white;
}
/* line 278, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
#sign-out-button:hover:not(:disabled) {
  border: 1px solid #c2c2c2;
  border-color: #c2c2c2 #b3b3b3 #a6a6a6;
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(#ededed, #d0d0d0);
  background-image: linear-gradient(#ededed, #d0d0d0);
  text-shadow: 0 -1px 1px silver;
  background-clip: padding-box;
}
/* line 307, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
#sign-out-button:active:not(:disabled), #sign-out-button:focus:not(:disabled) {
  background: #dfdfdf;
  border: 1px solid #ababab;
  border-bottom: 1px solid darkgrey;
  box-shadow: inset 0 0 6px 3px #c1c1c1;
  text-shadow: 0 -1px 1px #c1c1c1;
}
/* line 278, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
#sign-out-button:hover:not(:disabled) {
  border: 1px solid #c2c2c2;
  border-color: #c2c2c2 #b3b3b3 #b29e9a;
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(#ededed, #d0d0d0);
  background-image: linear-gradient(#ededed, #d0d0d0);
  text-shadow: 0 -1px 1px silver;
  background-clip: padding-box;
}
/* line 307, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
#sign-out-button:active:not(:disabled), #sign-out-button:focus:not(:disabled) {
  background: #dfdfdf;
  border: 1px solid #ababab;
  border-bottom: 1px solid #aea6a4;
  box-shadow: inset 0 0 6px 3px #c2c0c0;
  text-shadow: 0 -1px 1px #c1c1c1;
}
/* line 51, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/bourbon/addons/_button.scss */
#sign-out-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 112, /Users/jatinbhandari/dev/Metis/metis_course/apps/directscripts/app/assets/stylesheets/application.css.scss */
#copyright {
  position: absolute;
  bottom: 0;
  margin-left: 25.58941%;
  font-size: 11px;
  color: #909090;
}
