<div id='about-wrapper'>
  <div id='about-info'> 
    <p>DirectScripts is an e-prescription application. It allows for better documentation of filled prescriptions, privacy, and greater freedom for a patient to choose which pharmacy to go to without having to carry a prescription around.</p>
    <p>Directscripts is a capstone project that was created by Jatin Bhandari, a student at the Metis Web Development Program. The course is a Ruby on Rails web development program created and taught by thoughtbot, the premier Ruby on Rails consulting and development firm in the world. Metis consists of 12 weeks of intensive on-site instruction, ongoing career coaching and job placement support and 12 weeks of post‑graduation professional development.</p>

    <div id='metis-logo'>
      <%= link_to(image_tag("metis_logo.png"), "http://thisismetis.com" ) %>
    </div>
    
    <div id='thoughtbot-logo'>
      <%= link_to(image_tag("thoughtbot_logo.png"), "http://thoughtbot.com/") %>
    </div>
  </div>
</div>