<div id='news-feed'> News Feed: <%= link_to 'Medical News Today', "http://www.medicalnewstoday.com" %></p></div>
<div id='med-news'>
  <iframe src="http://www.medicalnewstoday.com/" width="100%" height="530"></iframe>
</div>