<%= render 'header_bar' %>
<div class="bottom-container">
  <div class="first-container"></div>
  <div class="fluid-container"></div>
  <div class="fluid-container"></div>
  <div class="fluid-container"></div>
  <div class="fluid-container"></div>
  <div class="last-container"></div>
</div>
