<a href="#" class="js-vertical-tab vertical-tab is-active" rel="tab1">klfgnl</a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab2">dfmkg</a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab3">Item 3</a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab4">PATIENT</a>
