<a href="#" class="js-vertical-tab vertical-tab is-active" rel="tab1">Profile</a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab2">Prescription History</a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab3">Patient List </a>
<a href="#" class="js-vertical-tab vertical-tab" rel="tab4">Clinic Information</a>
